# dependencies
/node_modules
/.pnp
.pnp.js

# turbo
.turbo

# nx
.nx

node_modules
packages/*/node_modules
apps/*/node_modules

# production
dist/**
/dist
apps/*/dist
packages/*/dist

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# other lockfiles that's not pnpm-lock.yaml
package-lock.json
yarn.lock

# local env files
.env
.env*.local

# vercel
.vercel

# astro
.astro

# typescript
*.tsbuildinfo
next-env.d.ts
